<div class="dashboard-wrapper">
  <div class="welcome-card">
    <p>
      <i class="pi pi-bookmark-fill" style="color: #f26522"></i>
      Kick back and relax—we’ve got you covered.
    </p>

    <div class="info-rules">
      <p>
        <i class="pi pi-calendar-clock"></i>
        Arrive at the time of the booking :).
      </p>
      <p>
        <i class="pi pi-calendar"></i>
        Each reservation covers: a 2-hour time slot, one washing machine.
      </p>
      <p>
        <i class="pi pi-calendar-plus"></i>
        If you require more time or machines then add multiple bookings.
      </p>
    </div>

    <div class="laundry-rules">
      <p>
        <i class="pi pi-shopping-bag"></i>
        Bring your laundry in a washing bag (can be purchased on site).
      </p>
      <p>
        <i class="pi pi-gauge"></i>
        Keep it light, max. 6kg per bag max
      </p>
      <p>
        <i class="pi pi-times-circle"></i>
        Sort your laundry at home, don't mix colors.
      </p>
    </div>

    <div class="payment-rules">
      <p>
        <i class="pi pi-money-bill"></i>
        All payments are made in cash.
      </p>
      <p>
        <i class="pi pi-bitcoin"></i>
        Tips help us fight the sock monster.
      </p>
    </div>
  </div>

  <div class="dashboard-image">
    <img src="assets/images/dashboard.png"/>
  </div>
</div>

<router-outlet></router-outlet>
