<div class="landing-background">
  <div class="landing-card-position">
    <p-card header="Welcome to BBC" styleClass="p-shadow-24" >
      <div class="p-fluid">
        <div class="flex justify-content-end gap-2 mt-5">
          <p-button label="Sign-In" [routerLink]="['/login']" icon="pi pi-sign-in" />
          <p-button label="Register" [routerLink]="['/register']" icon="pi pi-user-plus" styleClass="p-button-secondary" />
        </div>
      </div>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
