<div class="landing-background">
  <div class="landing-card-position">
    <p-card styleClass="tight-card-no-padding">
      <ng-template pTemplate="content">
        <div class="flex justify-content-end gap-2">
          <!--          <div class="flex justify-content-end gap-2 mt-5">-->
          <p-button label="Sign-In" [routerLink]="['/login']" icon="pi pi-sign-in" />
          <p-button label="Register" [routerLink]="['/register']" icon="pi pi-user-plus" styleClass="p-button-warning"/>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
