<div class="login-background">
  <div class="flex justify-content-center align-items-center min-h-screen">
    <p-card styleClass="tight-card-small-padding">
      <div class="p-fluid">
        <div class="field">
          <label for="username" class="text-color">Username</label>
          <input id="username" type="text" pInputText [(ngModel)]="username"/>
        </div>
        <div class="field mt-4">
          <label for="password" class="text-color">Password</label>
          <input id="password" type="password" pInputText [(ngModel)]="password"/>
        </div>
        <div class="flex justify-content-end gap-2 mt-5">
          <p-button label="Cancel" [routerLink]="['/']" i icon="pi pi-times" styleClass="p-button-danger"/>
          <p-button label="Sign-In" (onClick)="logIn()" icon="pi pi-sign-in"/>

        </div>
      </div>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
