<p-card styleClass="w-full md:w-8 mx-auto mt-5">
  <div class="flex flex-column align-items-center justify-content-center p-4">
    <div class="info-booking">
      <p>
        <i class="pi pi-lightbulb" ></i>
        Remember: you are booking a time slot of 2h for a washing machine with the capacity of maximum 6kg.
      </p>

    </div>
    <p-steps
      [model]="steps"
      [(activeIndex)]="activeStep"
      [readonly]="false"
      class="custom-steps-wrapper">
    </p-steps>

    <p-toast></p-toast>

    <div *ngIf="activeStep === 0" class="w-full text-center" style="margin-top: 2rem;">
      <h3 class="mb-3 text-primary">Step 1: Select a Date</h3>
      <p-calendar
        [(ngModel)]="selectedDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [showIcon]="true"
        (onSelect)="onDateSelect()">
      </p-calendar>
      <p *ngIf="noDataMessage" class="mt-3 text-red-500">{{ noDataMessage }}</p>
    </div>

    <div *ngIf="activeStep === 1" class="w-full text-center" style="margin-top: 2.5rem;">
      <h3 class="mb-3 text-primary">Step 2: Select a Time Slot</h3>
      <p-dropdown
        [(ngModel)]="selectedBookableUnitId"
        [options]="availableTimeSlots"
        placeholder="Choose a time slot"
        class="w-20rem mb-3">
      </p-dropdown>

      <p-button
        label="Book Now"
        (onClick)="bookUnit()"
        [disabled]="!selectedBookableUnitId"
        styleClass="p-button-success">
      </p-button>

      <p *ngIf="noDataMessage" class="mt-3 text-red-500">{{ noDataMessage }}</p>
    </div>

    <div *ngIf="activeStep === 2" class="w-full text-center" style="margin-top: 3rem;">
      <h3 class="text-primary mb-3">Step 3: Booking Summary</h3>
      <div class="p-3 border-1 surface-border border-round shadow-2 bg-gray-50">
        <p><strong>Date:</strong> {{ selectedDate | date: 'fullDate' }}</p>
        <p><strong>Time:</strong> {{ selectedTimeSlot?.timeInterval?.startTime }}</p>
        <p-button
          label="Book another Washing Machine"
          (onClick)="backToBooking()">
        </p-button>
      </div>
    </div>

    <div *ngIf="activeStep < 2" class="w-full text-center mt-5">
      <p-button
        label="Restart Booking"
        icon="pi pi-refresh"
        styleClass="p-button-secondary"
        (onClick)="restartBooking()"
      ></p-button>
    </div>

  </div>
</p-card>
