<div class="flex flex-column align-items-center justify-content-center p-5">
  <h2>Book a Washing Machine</h2>

  <!-- Steps Indicator -->
  <p-steps [model]="steps" [(activeIndex)]="activeStep" [readonly]="false"></p-steps>
    <p-toast></p-toast>

    <div *ngIf="activeStep === 0">
      <h2>Select Date</h2>
      <p-calendar 
      [(ngModel)]="selectedDate" 
      [minDate]="minDate" 
      [maxDate]="maxDate" 
      [showIcon]="true"
      (onSelect)="onDateSelect()"></p-calendar>
      <p *ngIf="noDataMessage">{{ noDataMessage }}</p>
    </div>

    <div *ngIf="activeStep === 1">
      <h2>Selectează un interval orar</h2>
      <p-dropdown 
        [(ngModel)]="selectedBookableUnitId" 
        [options]="availableTimeSlots" 
        placeholder="Alege un interval orar">
      </p-dropdown>

      <button 
        pButton 
        label="Programează" 
        (click)="bookUnit()" 
        [disabled]="!selectedBookableUnitId">
      </button>
      <p *ngIf="noDataMessage">{{ noDataMessage }}</p>
    </div>

    <div *ngIf="activeStep === 2">
      <div class="mt-4 p-3 border border-gray-300 rounded shadow-sm bg-light">
          <h3>Booking Summary</h3>
          <p><strong>Date:</strong> {{ selectedDate | date: 'fullDate' }}</p>
          <p><strong>Time:</strong> {{ selectedTimeSlot?.timeInterval?.startTime }}</p>
      
          <button 
            pButton
            class="btn btn-primary mt-3" 
            (click)="backToBooking()">
            Back
          </button>
        </div>
    </div>

  <!-- No Data Message -->
  <div *ngIf="noDataMessage" class="p-message p-message-info mt-5" style="display: block;">
    <div class="p-message-wrapper">
      <span class="p-message-icon pi pi-info-circle"></span>
      <span class="p-message-text">{{ noDataMessage }}</span>
    </div>
  </div>
</div>
<p-toast></p-toast>

