/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
   
        margin: 0;
        top: 0;
        height: 100vh;
        background-image: url("assets/campus.jpg");
        background-repeat: no-repeat;
        background-size: contain;     /* Afișează toată imaginea, fără zoom/tăiere */
        background-position: center;  /* Centrează imaginea */
        background-color: black;      /* Fundal pentru zonele goale */
}
   